.actorinfo {
  padding: 0 20px;
}

.header {
  margin-bottom: 10px;
}

.actorMainPic {
  width: 400px;
  display: inline-block;
}

.actorExtraPic {
  display: inline-block;
  margin: 4px;
}

.video {
  width: 600px;
  height: 800px;
}
.pic {
  width: 10%;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
}

.pic img {
  width: 100%;
}
.noData {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}